.menu-toggle{
  display: none;
  position: relative;
  height: 28px;
  width: 34px;
  cursor: pointer;
  z-index: 30;
  transition: $delay*2;

  @media(max-width: 768px){
    display: block;
  }

  span{
    position: absolute;
    left:0; right:0;
    top: 0; bottom: 0;
    height: 6px;
    margin: auto;
    background: #fff;
  }

  &:before{
    content:'';
    position: absolute;
    left:0; right:0;
    top: 0;
    height: 6px;
    background: #fff;
    transition: .4s;
  }

  &:after{
    content:'';
    position: absolute;
    left:0; right:0;
    bottom: 0;
    height: 6px;
    background: #fff;
    transition: .4s;
  }

  &_active{
    right:0;

    span{
      opacity:0;
    }

    &:before{
      left: 5px;
      transform-origin: top left;
      transform: rotate(45deg);
      width: 34px;
    }

    &:after{
      left: 5px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 34px;
    }
  }
}
