.button {
  font-family: 'Helvetica-6-Medium', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: $delay;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 2px solid #121212;
  background-color: #ffffff;

  &:hover {
    margin-top: 1px;
    //background-color: darken(#ffffff, 10%);
    box-shadow: 0 0 0;
  }

  &__icon{
    margin-right: 13px;
  }
}

