.main-banner {
  background-image: url(../images/laptop.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 83px;
  padding-bottom: 80px;

  &__content {
    padding-top: 55px;
    padding-left: 43px;
    text-align: center;

    @media(max-width: 992px) {
      padding-top: 80px;
      padding-left: 0;
    }
  }

  &__slogan {
    font-family: 'Helvetica-8-Heavy', sans-serif;
    font-size: 48px;
    color: #121212;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    line-height: 58px;
    margin-bottom: 17px;
    text-align: left;

    @media(max-width: 768px) {
      text-align: center;
      font-size: 40px;
      line-height: 1.2;
    }

    @media(max-width: 576px) {
      font-size: 36px;
    }

    @medua(max-width: 375px) {
      font-size: 30px;
    }
  }

  &__headline {
    position: relative;
    text-align: left;
    margin-bottom: 141px;

    @media(max-width: 768px) {
      text-align: center;
      margin-bottom: 100px;
    }

    @media(max-width: 576px) {
      margin-bottom: 80px;
    }
  }
  
  &__button {
    margin-left: -26px;
    padding: 10px 30px 8px 50px;

    @media(max-width: 992px) {
      margin-left: 0;
    }

    &-title {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-image: url(../images/arrow_up.png);
        background-repeat: no-repeat;
        width: 13px;
        height: 19px;
        left: -34px;
      }
    }
  }
}
