<div class="about">
    <div class="container about__container">
        <div class="about-work">
            <h2 class="h2 about__title">С чем работаю</h2>
            <div class="h2_subtitle about__description">языки, фреймворки, CMS</div>
            <ul class="about-work__list">
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">HTML 5</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">СSS 3</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">JavaScript</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">jQuery</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">JavaScript</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">AJAX</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">PHP</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">SQL</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">NET</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">RUBY</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">CMS WordPress</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">CMS Joomla</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">CMS OpenCart</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">CMS Simpla</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">Android</div>
                    <div class="about-work__item-rating"></div>
                </li>
                <li class="about-work__item">
                    <div class="about-work__item-icon"></div>
                    <div class="about-work__item-title">IOS</div>
                    <div class="about-work__item-rating"></div>
                </li>
            </ul>
        </div>
        <div class="about-me">
            <h2 class="h2 about__title">Мой опыт</h2>
            <div class="h2_subtitle about__description">3 предыдущие места работы</div>
        </div>
    </div>
</div>