.about {
  padding-top: 47px;
  padding-bottom: 55px;
  min-height: 632px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &-work,
  &-me {
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;

    @media(max-width: 992px) {
      width: 100%;
    }
  }

  &-work {

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
    }
  }

}

.checkbox {
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  &__input {
    display: none;

    ~ .checkbox__icon {
      position: relative;
      display: block;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 2px;
      background: #fff;
      border: 1px solid #d2d2d2;
      cursor: pointer;
      transition: 0.2s;
      overflow: hidden;

      &:before {
        content: '';
        display: none;
      }

      svg{
        font-size: 15px;
        transition: 0.2s;
        color: transparent;
      }
    }

    &:checked ~ .checkbox__icon {
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: #33b5e5;

      .checkbox__label {
        padding-left: 9px;
      }
    }

  }

  &__icon label {
    cursor: pointer;
  }

  &__label {
    padding-left: 5px;
    line-height: 1.2;
  }

}
