.about {
  padding-top: 47px;
  padding-bottom: 55px;
  min-height: 632px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &-work,
  &-me {
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;

    @media(max-width: 992px) {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {

  }
}