$bullet-width: 15px;
$bullet-border-width: 1px;

.about {
  padding-top: 47px;
  padding-bottom: 55px;
  min-height: 632px;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &-skills,
  &-me {
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;

    @media(max-width: 992px) {
      width: 100%;
    }
  }

  &-skills {

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
    }
  }


  &-works {
    display: flex;
    flex-direction: column;

    &__button {
      align-self: center;
      padding: 10px 30px 8px 50px;

      @media(max-width: 992px) {
        margin-left: 0;
      }

      &-title {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          background-image: url(../images/arrow_up.png);
          background-repeat: no-repeat;
          width: 13px;
          height: 19px;
          left: -34px;
        }
      }
    }

    &__list {
      position: relative;
      flex-grow: 1;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: ($bullet-width / 2) + $bullet-border-width;
        width: 1px;
        background-color: #121212;
      }
    }

    &__item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      line-height: 24px;
      padding-left: 25px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        width: $bullet-width;
        height: $bullet-width;
        top: 0;
        left: 0;
        border: 1px solid #121212;
        background-color: #ffffff;
      }

      &-label {
        font-weight: bold;
      }

      &_button {
        margin-top:   50%;
      }
    }
  }
}

.about-works-item-list {
  width: 100%;
}


.checkbox {
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  &__input {
    display: none;

    ~ .checkbox__icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 2px;
      background: #fff;
      border: 1px solid #121212;
      cursor: pointer;
      transition: 0.2s;
      overflow: hidden;

      &:before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #33b5e5;
        transition: 0.3s;
      }

    }

    &:checked ~ .checkbox__icon {
      &:before {
        width: 11px;
        height: 11px;
      }

    }

  }

  &__icon label {
    cursor: pointer;
  }

  &__label {
    padding-left: 5px;
    line-height: 1.2;
  }

}
