<script type="text/html" data-modal="callback">
    <div class="modal" id="modal-callback">
        <div class="modal__content callback">
            <div class="modal__title">Перезвоните мне</div>
            <form class="callback__form">
                <label class="callback__label" for="callback-phone">Номер телефона</label>
                <input class="callback__phone" id="callback-phone" autocomplete="off" placeholder="+38(0__) ___ - __ - __" />
                <button class="button callback__submit">Перезвоните мне</button>
            </form>
        </div>
    </div>
</script>