.scrollup {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 50;
  width: 80px;
  height: 80px;
  border: 3px solid #8ea4a6;
  text-align: center;
  background: #fff;
  opacity: 0.8;

  @media(max-width: 768px) {
    height: 60px;
    width: 60px;

    .scrollup__text {
      color: transparent;
    }

    .scrollup__text:before {
      margin: 40% auto 0;
      display: block;
      content: '';
      height: 20px;
      width: 20px;
    }
  }

  @media(max-width: 574px){
    left: 10px;
    bottom: 10px;
  }

  &__text{
    color: #8ea4a6;
    font-size: 14px;
    text-transform: uppercase;
    display: block;

    &:before{
      margin: 20% auto 0;
      display: block;
      content: '';
      height: 25px;
      width: 25px;
      border: 2px solid #8ea4a6;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transition: .4s;
      transform: rotate(-45deg);
    }
  }

  &:hover{
    background: #fff;
    opacity: 1;
  }
}
