<div class="one-work" id="last-work">
    <div class="container one-work__container">
        <h2 class="h2 one-work__title">Одна из моих работ</h2>
        <div class="h2_subtitle one-work__description">видео скринкаст кейса</div>
        <div class="one-work__video">
            <img src="images/video.png" alt="">
        </div>
    </div>
</div>