* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

::placeholder {
  font-family: 'Helvetica-6-Medium', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #6e6e6e;

  @media(max-width: 375px){
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input{
  border: 0;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font: 300 16px 'Helvetica-4-Light', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  color: #313131;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

hr {
  border-top: 0;
  border-color: #8c8c8c;
}

a {
  color: #00a2ff;;
  cursor: default;
  text-decoration: none;
}

a[href] {
  cursor: pointer;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  transition: $delay;
}

.blue {
  color: #2c85b8;
}


.h1 {
  font-family: 'Helvetica-6-Medium', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @media(max-width: 768px) {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
  }

  @media(max-width: 576px) {
    font-size: 20px;
  }

  @media(max-width: 375px) {
    font-size: 16px;
  }
}

.h2 {
  font-family: 'Helvetica-8-Heavy', sans-serif;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: -9px;
  text-align: center;

  @media(max-width: 576px) {
    font-size: 30px;
    margin-bottom: 0;
  }

  @media(max-width: 375px) {
    font-size: 24px;
  }
}

.h2_subtitle {
  font-family: 'Helvetica-8-Heavy', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -1px;

  @media(max-width: 576px) {
    font-size: 14px;
    line-height: 1;
  }
}