<footer class="main-footer" id="contact-us">
    <div class="container main-footer__top">
        <div class="main-footer__avatar">
            <img src="images/avatar.png" alt="">
        </div>
        <div class="main-footer__content">
            <h2 class="h2 main-footer__title">Лучше 1 раз услышать</h2>
            <div class="h2_subtitle main-footer__description">чем 100 раз прочитать</div>
            <div class="main-footer__callback-form">
                <button class="button main-footer__button main-footer__button_one">
                    <img src="images/comment.png" alt="" class="main-footer__button-icon main-footer__button-icon_one">
                    <span class="main-footer__button-title">познакомиться</span>
                </button>
                <form action="#" class="main-footer__form">
                    <input class="main-footer__form-input" type="text" name="email" autocomplete="off" placeholder="Ваша почта / skype">
                    <button class="button main-footer__button main-footer__button_two">
                        <img src="images/connect.png" alt="" class="main-footer__button-icon main-footer__button-icon_two">
                        <span class="main-footer__button-title">отправить</span>
                    </button>
                </form>
            </div>


            <div class="main-footer__smm">
                <div class="main-footer__smm-title">
                    мои профили... смотрите, спрашивайте, подписывайтесь
                </div>
                <div class="main-footer__smm-list">
                    <a href="#" class="main-footer__smm-item">
                        <img src="images/vk.png" alt="">
                    </a>
                    <a href="#" class="main-footer__smm-item">
                        <img src="images/skype.png" alt="">
                    </a>
                    <a href="#" class="main-footer__smm-item">
                        <img src="images/facebook.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="container">
            <ul class="main-footer__features">
                <li class="main-footer__feature main-footer__feature_one">
                    время реализации: например 6 часов
                </li>
                <li class="main-footer__feature main-footer__feature_two">
                    уровень сложности:
                </li>
                <!--<li class="main-footer__feature main-footer__feature_three">-->
                    <!--Тестовое задание дла компании-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</footer>