.main-footer {
  background-color: #8ea4a6;

  &__top {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__bottom {
    background-color: #fff;
    min-height: 28px;
  }
  
  &__avatar {
    position: absolute;
    top: -54px;
  }


  &__content {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title,
  &__description {
    color: #fff;
  }

  &__description {
    margin-bottom: 22px;
  }

  &__callback-form {
    max-width: 351px;
    align-self: center;
  }

  &__button {
    position: relative;
    border: none;
    box-shadow: 0 3px 0 #0e5b8d;
    border-radius: 10px;
    background-color: #0793ec;
    margin: 10px 0;
    padding: 13px 17px 13px 77px;
    overflow: hidden;

    &-icon {
      position: absolute;
      content: '';
    }

    &:hover {
      margin-bottom: 10px;
    }

    @media(max-width: 375px) {
      padding-left: 50px;
    }

    &-title {
      color: #ffffff;
      font-family: 'Helvetica-6-Medium', sans-serif;
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;

      @media(max-width: 375px) {
        font-size: 24px;
      }

    }
}

  &__smm {
    margin-top: 15px;

    &-title {
      text-align: center;
      color: #ffffff;
      font-family: 'Helvetica-4-Light', sans-serif;
      font-size: 13px;
      font-weight: 300;
      text-transform: uppercase;
    }

    &-list {
      padding-top: 18px;
      padding-bottom: 14px;
    }

    &-item {
      margin: 5px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    //margin-left: -6px;

    @media(max-width: 992px) {
      justify-content: center;
    }

  }

  &__feature {
    width: 30%;
    color: #3f3f3f;
    font-family: 'Helvetica-4-Light', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 26px;
    padding-top: 5px;
    margin-right: 22px;

    @media(max-width: 992px) {
      width: 100%;
      margin-right: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      align-self: center;
    }

    &_one {
      position: relative;

      &:before {
        position: absolute;
        width: 19px;
        height: 20px;
        top: 2px;
        left: 0;
        content: '';
        background-image: url(../images/alarm_clock.png);
        background-repeat: no-repeat;
      }
    }

    &_two {
      position: relative;
      padding-left: 53px;

      @media(max-width: 992px) {
        margin-left: -53px;
      }

      &:before {
        position: absolute;
        width: 26px;
        height: 19px;
        top: 4px;
        left: 26px;
        content: '';
        background-image: url(../images/bomb.png);
        background-repeat: no-repeat;
      }
    }

    &_three {
      position: relative;
      padding-left: 53px;
      padding-top: 8px;

      @media(max-width: 992px) {
        margin-left: -53px;
      }

      &:before {
        position: absolute;
        width: 21px;
        height: 21px;
        top: 3px;
        left: 28px;
        content: '';
        background-image: url(../images/zoom.png);
        background-repeat: no-repeat;
      }

      &:after {
        position: absolute;
        width: 99px;
        height: 26px;
        top: -2px;
        left: 255px;
        content: '';
        background-image: url(../images/logo_uni.png);
        background-repeat: no-repeat;
      }
    }
  }

  &__form {
    max-width: 351px;
    display: flex;
    flex-direction: column;

    &-input {
      margin: 10px 0;
      width: 351px;
      height: 57px;
      box-shadow: 0 3px 3px #414141;
      border-radius: 10px;
      background-color: #ffffff;
      color: #6e6e6e;
      font-family: 'Helvetica-6-Medium', sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding-left: 90px;
    }
  }

}

.button-two {
  padding: 13px 17px 13px 37px;
}

.icon-one {
  width: 70px;
  height: 45px;
  left: 6px;
  top: 13px;
}

.icon-two {
  top: 10px;
  width: 70px;
  height: 48px;
  left: 15px;
}