<nav class="nav">
    <ul class="nav__list" id="menu">
        <li class="nav__item nav__item_disable" data-menuanchor ="bannerBlock">
            <a href="#bannerBlock" class="nav__link">Як підключитись</a>
        </li>
        <li class="nav__item" data-menuanchor ="stepsBlock">
            <a href="#stepsBlock" data-id="steps" data-menu="yes" class="nav__link">Як підключитись</a>
        </li>
        <li class="nav__item" data-menuanchor ="tarrifsBlock">
            <a href="#tarrifsBlock"  data-id="tarrifs" data-menu="yes" class="nav__link">Тарифи</a>
        </li>
        <li class="nav__item nav__button">
            <a href="#" class="button nav__item-button connect">Пiдключитися</a>
        </li>
    </ul>
</nav>

