<header class="main-header">
    <div class="container main-header__container">
        <nav class="main-header__nav">
            <a href="#about" class="main-header__nav-link">Обо мне</a>
            <a href="#last-work" class="main-header__nav-link">Моя последняя работа</a>
            <a href="#all-works" class="main-header__nav-link">Другие мои работы</a>
            <a href="#contact-us" class="main-header__nav-link">Связаться со мной</a>
        </nav>
        <div class="main-header__menu-toggle">
            <div class="menu-toggle" data-target=".main-header__nav"><span></span></div>
        </div>
    </div>
</header>